body {
    font-family: helvetica, sans-serif;
    font-size: 18px;

	background-image: url( /images/blue-gradient-background.png ) !important;
   	/*background: -webkit-gradient(
   	    linear,
   	    left bottom,
   	    left top,
   	    color-stop(0.09, rgb(191,235,255)),
   	    color-stop(0.85, rgb(255,255,255))
   	);
   	background: -moz-linear-gradient(
   	    center bottom,
   	    rgb(191,235,255) 9%,
   	    rgb(255,255,255) 85%
   	);*/

	background-repeat: repeat-x;
	background-color: rgb(191,235,255);
}

a:link, a:visited {
    color: #8405FD;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

hr {
	height: 1px;
	border: 0px;
	background-color: gray;
}

img {
    margin: 1px;
    border: none;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

/* -------------------------------------------------------------------------- */

#container {
    width: 640px;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------------------------------------------------------------- */

#headerPanel {
   	position: relative;
}

#headerPanelMessage {
    position: absolute;
    top: 14px;
    right: 30px;
}

#spinner {
	position:absolute;
 	top:10px;
	right:0;
}

#headerPanelLinkBox {
	background: rgb(97,97,97);
	font-size: 1.143em;
	/*font-weight: bold;*/
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	width: 640px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

#headerPanelLinkBox ul {
	list-style: none;
	margin: 0 auto;
	width: 640px;
}

#headerPanelLinkBox li {
	float: left; 
	display: inline; 
	margin:0;
}

#headerPanelLinkBox a:link, #headerPanelLinkBox a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.1em;
	text-decoration: none;
}

#headerPanelLinkBox a:hover, #headerPanelLinkBox a:active,
#headerPanelLinkBox .active a:link, #headerPanelLinkBox .active a:visited {
	background: rgb(161,58,244);
	color: #fff;
	text-shadow: none !important;
}

#headerPanelLinkBox li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#headerPanelLinkBox li:last-child a {
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/* -------------------------------------------------------------------------- */

.editForm {
    
}

.editFormEntry {
    padding: 0px;
    margin: 0px;
    
    width: 340px;
    height: 32px;
    margin: 4px;
}

.editFormEntry label {
    padding: 0px;
    margin: 0px;
    
    font-size: 1em;
    font-weight: bold;
}

.editFormEntry input {
    float: right;
    width: 200px;
    height: 20px;
    
    font-size: 1em;
}

.editFormEntry input.button {
    padding: 10px;
}

/* -------------------------------------------------------------------------- */

.statusForm {
    width: 100%;
}


.statusFormInput input {
    width: 50%;
}

/* -------------------------------------------------------------------------- */

.editInterestPartial {
    width: 100%;
}

.editInterestPartialCategory {
    font-weight: bold;
}

.editFormEntry input.text {
    width: 50%;
}

/* -------------------------------------------------------------------------- */

.interestTable {
    width: 100%;
    
    border: 1px;
    border-style: solid;
    border-color: grey;
}

.interestTable th {
    text-align: left;
    /*text-transform: uppercase;*/
}

.interestTable td {
    text-align: left;
}

/* -------------------------------------------------------------------------- */

.profile_pic {
	width: 64px;
	display: inline;
	float: left;
	margin-bottom: 1em;
}

.profile_name {
	margin-left: 74px;
}

.userInfoPartial {
    margin: 6px;
}

.userInfoPartialCategory {
    font-weight: bold;
}

.userInfoPartialInterest {
    border-bottom: 1px dotted #ba0000;
}

/* -------------------------------------------------------------------------- */

.clear {
    clear: both;
}