body {
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

a:link, a:visited {
    color: #8405FD;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

hr {
	height: 1px;
	border: 0px;
	background-color: gray;
}

img {
    margin: 1px;
    border: none;
}

h1 {
    font-size: 1.3em;
}

/* -------------------------------------------------------------------------- */

#container {
    width: 640px;
		margin-left: auto;
		margin-right: auto;
}

/* -------------------------------------------------------------------------- */

#headerPanel {
    
}

#headerPanelLinkBox {
/*    clear: both;*/
    float: right;
}

#headerPanelLinkBox ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: none;
    overflow: hidden;
}

#headerPanelLinkBox li {
    display: inline;
    float: left;
    /*white-space: nowrap;*/
    padding: 0px;
    margin: 0px;
}

#headerPanelLinkBox a:link, a:visited {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 80px;
    height: 32px;
    
    /*padding-top: 8px;*/
    
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    
    background-color: white;
    text-decoration: none;
}

#headerPanelLinkBox a:hover {
    color: gray;
    border-color: gray;
}

#headerPanelLinkBox a:active {
    border-color: red;
}

/* -------------------------------------------------------------------------- */

.clear {
    clear: both;
}