<div class="userInfoPartial">
  <%= link_to h(user.name), user_path(user) %>

  <% if user.respond_to?(:distance)%>
    (<%= number_with_precision user.distance, :precision => 2 %> mi)
  <%end%>
  <br />

  <% user.categories.each do |category| %>
    <span class="userInfoPartialCategory"><%= h category.name %></span>:
		<% user.interests_with_category(category).first(4).each do |interest| %>
			<span class="userInfoPartialInterest"><%= h " " + interest.name %></span>
	  <% end %>
	<% end %>
</div>
