<span class="interest">
	<%= image_tag("rails.png") %>
	<% link_to(user_path(user)) do %>
		<%=h user.name %>
	<%end%>
	<%if user.methods.include?(:distance)%>
	 (<%= number_with_precision user.distance, :precision => 2 %> mi)
	<%end%>
	<ul>
		<% user.interests.first(4).each do |interest| %>
			<li><%=h interest.name%></li>
		<%end%>
	</ul>
</span>