<%= render :partial=>'current_interest', :locals=>{:user=>current_user} %>
<h1>Nearby Users</h1>
<ul>
	<% @users.each do |user| %>
		<li><%=h user.name %> (<%= number_with_precision user.distance, :precision => 2 %> mi) - <% link_to user_path(user) do %> View Profile <% end %></li>
	<% end %>
</ul>