<%= render :partial=>'current_interest', :locals=>{:user=>current_user} %>
<h1>Nearby Users</h1>

<% @users.each do |user| %>
	<div>
		<%= render :partial=>'user_short', :locals=>{:user=>user} %>
	</div>
<% end %>