<div class="interest" id="<%=h interest.id%>">
  	<p>
      <label>Name</label>
      <%=h interest.name %>
    </p>
    <p>
      <label>Category</label>
      <%=h interest.category.name %>
    </p>
	<span class="remove_button"><%= link_to_remote "Remove", :url => {:action => :remove_interest, :controller => "users", :id => interest.id, :location => "", :user_id => 		@user.id}, :update => interest.id.to_s %></span>
</div>