<div class="editInterestPartial">
  <span class="editInterestPartialRemoveLink">
	  <%= link_to_remote "Remove",
	      :url => {:action => :remove_interest,
	              :controller => "users",
        	      :id => interest.id,
        	      :location => "",
        	      :user_id => @user.id},
        :update => interest.id.to_s
    %>
  </span>
  
  <span class="editInterestPartialCategory">
    <%=h interest.category.name %>
  </span>
  
  <%=h interest.name %>
	
</div>