<% content_for :head do %>
	<script type="text/javascript">
		function successCallback(position) {
			$('latitude').value = position.coords.latitude;
			$('longitude').value = position.coords.longitude;
			$('locationform').submit();
		}

		function errorCallback(position) {
			$('pleasewait').hide();
			$('noloc').show();
		}
	</script>
<% end %>

<span id="pleasewait">Retrieving your location &#8230</span>

<div id="noloc" style="display:none">
	Your location is unavailable. Please provide your address instead:
	<div class="">
	  <% form_for current_user, :url => update_location_path(), :html => {:method => :post, :id => "locationform"} do %>
  	  <%= hidden_field_tag('latitude', '') %>
  		<%= hidden_field_tag('longitude', '') %>
  		<div class="">
  		  <%= text_field_tag('address', '') %>
  		</div>
  	<% end %>
	</div>
</div>