<div id="headerPanel">
  <%= link_to image_tag("rails.png"), root_path %>
  <div id="headerPanelLinkBox">
		<ul class="unorderedListHorizontal">
    	<li class="unorderedListHorizontal"><%= link_to 'Sign Up', signup_path %></li>
	    <li class="unorderedListHorizontal"><%= link_to 'Login', login_path %></li>
		</ul>
  </div> <!-- headerPanelLinkBox -->
</div> <!-- headerPanel -->
<hr />
