<div id="headerPanel">
  <%= link_to image_tag("enchantee.png"), root_path %>
  <div id="headerPanelLinkBox">
		<ul>
    	<li><%= link_to 'Sign Up', signup_path %></li>
	    <li><%= link_to 'Login', login_path %></li>
		</ul>
  </div> <!-- headerPanelLinkBox -->
</div> <!-- headerPanel -->
<hr />
